{% extends "monster_rx:templates/layout.jinja2" %}

{% block content %}

{% if 'patient' in roles %}
<div class="col-xs-offset-1 col-lg-5">
<a href="{{ 'request_rx'|route_url }}">
<img src="{{request.static_url('monster_rx:static/img/monster_rx_request.png')}}" class="launchpad_img">
</a>
</div>
{% endif %}

{% if 'physician' in roles or 'nurse_practitioner' in roles %}
<div class="col-xs-offset-1 col-lg-5">
<a href="{{ 'rx_portal'|route_url }}">
<img src="{{request.static_url('monster_rx:static/img/monster_rx_portal.png')}}" class="launchpad_img">
</a>
</div>
{% endif %}

</div>
{% endblock content %}
