{% extends "monster_rx:templates/layout.jinja2" %}
{% import 'monster_rx:templates/forms.jinja2' as form %}

{% block content %}
<div class="col-md-5">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Create A Prescription Renewal Request
            </h3>
        </div>
        <div class="panel-body">

            <form action="{{request.route_url('request_rx')}}"
                  method="POST" role="form" class="form-horizontal">
                {{form.render_form(rx_request_form)}}
            <button type="submit" class="btn btn-default col-sm-offset-3 btn-primary">
                Submit Request
            </button>
        </form>

        </div>
    </div>
</div>

<div class="col-lg-8 sm_margin_top">
    <h3 class="col-lg-offset-2">Pending Prescriptions for {{ user }}</h3>
    <table id="animal_table"
           data-toggle="table"
           class="table-striped table-bordered"
           data-toolbar="#toolbar"
           data-click-to-select="true">
        <thead>
          <tr>
            <th data-field="title" class="col-lg-6" data-sortable="true">Prescription</th>
            <th data-field="created" class="col-lg-2">Time Requested</th>
          </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{result.title}}</td>
                <td>{{result.created_dt}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
